<!DOCTYPE html>
<html lang="en">
<head>
    <title>App name</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cuprum:400,300" type="text/css">

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">App name</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">My list</a></li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-4 sidenav">
                <h3>Друзья</h3>
                <div class="scrollbar-friends scrollbar-primary">
                    <div class="force-overflow">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">First item</a>
                            <a href="#" class="list-group-item">Second item</a>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary">Добавьте друзей</button>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="list-group gifts">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
